---
import { AppConfig } from "@/utils/AppConfig";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={AppConfig.author} />

    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body
    class="bg-[#D4B28D] text-[#2c1800] bg-opacity-[0.5] mx-auto max-w-screen-lg px-3 py-6"
  >
    <Navbar />

    <slot />

    <Footer />
  </body>
</html>
