---
import { profile } from "@/utils/static-data";
---

<div class="mx-auto max-w-screen-lg py-10">
  <div
    class="flex flex-col items-center md:flex-row md:justify-between md:gap-x-24"
  >
    <div>
      <h1 class="text-3xl">
        Hi there, I'm <span
          class="font-bold bg-gradient-to-br bg-clip-text text-green-800"
          >Anurag</span
        >
         👋
      </h1>
      <p class="mt-6 text-xl leading-9">
        JavaScript Ninja. Linux Wizard. Full time Developer. Tech writer.
        <br />
         Do not call me frontend. Do not call me backend. Call me<!-- -->
        <a class="hover:underline text-green-800 font-bold" href="/">
          software engineer.</a
        >
      </p>
      <div class="mt-4 mb-4 flex gap-3 items-center justify-center md:justify-normal">
        <a href={profile.twitter} target="_blank"
          ><img
            class="h-5 w-5 hover:translate-y-1"
            src="/assets/images/twitter.webp"
            alt="Twitter"
            loading="lazy"
          /></a
        ><a href={profile.hashnode} target="_blank"
          ><img
            class="h-6 w-6 hover:translate-y-1"
            src="/assets/images/hashnode.webp"
            alt="Hashnode"
            loading="lazy"
          /></a
        ><a href={profile.linkedin} target="_blank"
          ><img
            class="h-6 w-7 hover:translate-y-1"
            src="/assets/images/linkedin.webp"
            alt="Linkedin"
            loading="lazy"
          /></a
        ><a href={profile.stackoverflow} target="_blank"
          ><img
            class="h-5 hover:translate-y-1"
            src="/assets/images/stackoverflow.webp"
            alt="StackOverflow"
            loading="lazy"
          /></a
        >
      </div>
    </div>
    <div class="hero_image">
      <img
        class="w-[250px] max-w-[unset] border-20 hover:scale-105"
        src="/assets/images/profile.webp"
        alt=""
        loading="lazy"
        draggable="false"
      />
    </div>
  </div>
</div>

<style>
  .hero_image {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
  }

  .hero_image img {
    border-radius: 10px;
  }
</style>
