---
interface Props {
  title: string;
  description: string;
  link: string;
}

const { title, description, link } = Astro.props as Props;
---

<a
  class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center"
  href={link}
  target="_blank"
  rel="noreferrer"
>
  <div class="flex flex-col gap-4 md:flex-row md:items-center">
    <p class="text-green-800 font-bold">{title}</p>
    <p>{description}</p>
  </div>

  <svg
    width="18"
    height="18"
    viewBox="0 0 18 18"
    fill="none"
    class="transition-all duration-300 group-hover:translate-x-1"
  >
    <path
      d="M5.25 12.75L12.75 5.25"
      stroke="#999999"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M5.25 5.25H12.75V12.75"
      stroke="#999999"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</a>

<style>
  .individualTitle {
    background: rgba(255, 255, 255, 0.1);
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
</style>
